* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(todo.jpg);
}
.container2{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 25px 0;
}

header {
    /* background-color: aqua; */
    height: 30px;
    /* align-items: center; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav div {
    font-size: 28px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    list-style: none;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 5vw;
}

#input-label {
    font-weight: 700;
    font-size: 4vw;
}

#title {
    border: 1px solid rgba(125, 98, 98, 0.314);
    border-radius: 4px;
    height: 40px;
    font-size: 16px;
    padding: 0px 8px;
    background-color: rgb(61, 61, 61);
    background-color: rgba(44, 44, 44, 0.4);
    color: white;
    font-weight: bold;
    z-index: 2;
    /* width: 90vw; */
}

.btn {
    height: 40px;
    width: 85px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 12px;
    background-color: blanchedalmond;
}
.btn:hover{
    background-color: rgb(243, 212, 166);
}
.btn1 {
    height: 2vw;
    width: auto;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0px 4px;
    background-color: blanchedalmond;
}
.btn1:hover{
    background-color: rgb(243, 212, 166);
}

small {
    font-weight: 400;
    font-size: 2vw;
}

#description {
    border-radius: 6px;
    border: 1px solid rgba(125, 98, 98, 0.314);
    background-color: rgb(61, 61, 61);
    background-color: rgba(44, 44, 44, 0.4);
    color: white;
    font-weight: bold;
    z-index: 2;
    padding: 6px 8px;
    resize: none;
    /* width: 100%; */

}
#description::-webkit-scrollbar {
    display: none;
  }

.main {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    z-index: 2;
    /* width: 60%; */
    min-width: 60%;
    /* max-width: 70%; */
    /* margin: 2vw 29vw; */
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    border: 2px solid rgba(79, 78, 78, 0.696);
    border-radius: 15px;
    padding: 8px;

}

.titles {
    display: grid;
    align-items: center;
    gap: 15px;
    
}

#items {
    height: 10vw;
    width: 40vw;
    padding: 11px;
    display: grid;
    align-items: center;
}

tbody {
    position: relative;
    overflow: hidden;
}

.tableWrap {
    height: 200px;
    border: 1px solid black;
    overflow:scroll;
    border-radius: 5px;
    position: relative;
    width: 60vw;
    max-width: 100%;;
}
.tableWrap::-webkit-scrollbar {
    display: none;
  }

thead tr th {
    position: sticky;
    top: 0;
    z-index: 1;
}
.hll{
    display: flex;
    gap: 10px;
}

table {
    border-collapse: collapse;
}

th {
    padding: 16px;
    padding-left: 15px;
    border-left: 1px dotted rgba(200, 209, 224, 0.6);
    border-bottom: 1px solid #e8e8e8;
    background: #ffc491;
    text-align: left;
    box-shadow: 0px 0px 0 2px #f6c8c8;
}

table {
    width: 100%;
    font-family: sans-serif;
}

table td {
    padding: 16px;
}

tbody tr {
    border-bottom: 2px solid #e8e8e8;
}

thead {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
}

tbody tr:hover {
    background: #858c90;
}

/* .veer{
    display: flex;
    align-items: center;
    justify-content: center;
} */

@media screen and (max-width: 500px) {
    .main{
        min-width: 90%;
    }
    th span, tr td{
        font-size: 12px;
    }
    td .btn1{
        height: 30px;
        width: 55px;
    }

    .tableWrap{
        width: auto;
    }
/* 
    #title{
        width:90%;
    }
    #description{
        width:90%
    } */
}